body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

section h2 {
    margin-top: 0;
}

section p {
    margin-top: 0;
}

#camera-feed {
    max-width: 100%;
}

#map-section img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}